<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stylist App</title>

    <!-- styling -->
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script src="https://use.fontawesome.com/a0cd422649.js"></script>

    <!-- javascript -->
    <script type="text/javascript" src="/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/api.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src = "/scripts/delete.js"></script>
    <script type="text/javascript" src = "/scripts/sort.js"></script>
  </head>

  <body>
    <div class="container-fluid">
    <!-- Header includes title and search field -->
      <header>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <h1 class="text-center">sty<span id="list_title">list</span></h1>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-1">
            <form action="/logout" method="POST" id="logout_form">
              <input id="logout_button" class="btn btn-default inactive" type="submit" value="Logout">
            </form>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <form action="/" method="GET" id="main_search">
              <div class="input-group">
                <input type="text" id="main_search_input" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button id="main_search_button" class="btn btn-default" type="submit" disabled="true">Go!</button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>
      </header>

      <!-- search results -->
      <!-- <div class="row search_results">
        <div class="col-md-4"></div>
        <div class="col-md-4 search_results">
          <form action="/insertItem" method='POST' id='user_choice' class = 'hidden_display'>
            <article id = 'list_container'></article>
            <button id = 'user_choice' class = 'hide_display' type='submit'>Insert!</button>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div> -->
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div id = 'space_for_form'>
          <form action="/insertItem" method='POST' id='user_choice' class = 'hidden_display'>
          <article id = 'list_container'></article>
          <button id = 'user_choice' class = 'hide_display' type='submit'>Insert!</button>
          </form>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <form action="/insertItem" method='POST' id='user_choice' class = 'hidden_display'>
          <article id = 'list_container'>
            <!-- Append seach results here -->
          </article>
          <button id = 'user_choice' class = 'hide_display inactive' type='submit'>Insert!</button>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>



      <!-- start divs with list objects -->
      <div class="lists">
        <div class="row">
          <div class="col-md-3 headings">
            <h1>Restaurants</h1>
          </div>
          <div class="col-md-3 headings">
            <h1>Movies</h1>
          </div>
          <div class="col-md-3 headings">
            <h1>Products</h1>
          </div>
          <div class="col-md-3 headings">
            <h1>Books</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 restaurants">

            <ul class="list-unstyled restaurant">
              <% all.forEach(function(item) {  %>
              <%  if (item.type === 'restaurant') {  %>
                <li>
                <form class="delete_item" method="DELETE" action="/delete/<%=item.id%>">
                  <button class="delete_button" type="submit">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <p class="item_name"><%=item.name%></p>
                </form>
                </li>
              <%  } %>
              <% }) %>
            </ul>

          </div>


          <div class="col-md-3 movies">

            <ul class="list-unstyled movie">
              <% all.forEach(function(item) {  %>
              <%  if (item.type === 'movie') {  %>
                <li>
                <form class="delete_item" method="DELETE" action="/delete/<%=item.id%>">
                  <button class="delete_button" type="submit">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <%= item.name %>
                </form>
                </li>
              <%  } %>
              <% }) %>
            </ul>

          </div>
          <div class="col-md-3 purchases">

            <ul class="list-unstyled purchase">
              <% all.forEach(function(item) {  %>
              <%  if (item.type === 'purchase') {  %>
                <li>
                <form class="delete_item" method="DELETE" action="/delete/<%=item.id%>">
                  <button class="delete_button" type="submit">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <%= item.name %>
                </form>
                </li>
              <%  } %>
              <% }) %>
            </ul>

          </div>
          <div class="col-md-3 books">

            <ul class="list-unstyled book">
              <% all.forEach(function(item) {  %>
              <%  if (item.type === 'book') {  %>
                <li>
                <form class="delete_item" method="DELETE" action="/delete/<%=item.id%>">
                  <button class="delete_button" type="submit">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <%= item.name %>
                </form>
                </li>
              <%  } %>
              <% }) %>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>


